:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Garante que as cores sejam claras por padrão */
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove margens padrão do navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Altura total da tela */
  overflow: hidden; /* Evita barras de rolagem indesejadas na tela principal */
  background-color: #fbfbfb; /* Mesma cor do fundo do App.css */
}

/* IMPORTANTE: O Vite centraliza o #root por padrão. 
   Isso aqui remove a centralização para o nosso desktop funcionar. */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Remove alinhamento centralizado de texto */
  display: block;   /* Remove o flexbox centralizador padrão */
}

/* Remove a borda azul de clique em botões no mobile */
button, a {
  -webkit-tap-highlight-color: transparent;
}
body, html {
  min-width: 1200px; /* Ou a largura total do seu design */
  overflow-x: auto;  /* Permite que o usuário dê scroll para os lados se a tela for pequena */
}